*{
    margin:0;
    padding: 0;
    outline: 0;
}
.container{
    width: 100%;
}
.row, .container {
  margin: 0;
  padding: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3,
.col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8,
.col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11,
.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0;
}

#main-header h1 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: #000;
}

/* Menu */

#menu .nav-link:hover {
  box-shadow: 0 1px 0 #000;
}

/* Menu */

/* Content */
#main-content, #contact-form {
  min-height: 80vh;
}
#main-content {
  margin: 30px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
#main-content article p {
  text-align: justify;
}
/* Content */

/*section and article*/

.card{
    margin: 2rem auto;
    border: 1px solid;
    width: 30rem;
    box-shadow: 0 1px 3px rgba(150,150,150,0.7);
    transition: all .3s;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px rgba(150,150,150,0.5);
}
.card img {
  width: 314px;
  height: 178px;
}

.card-text{
    text-align: justify;
}
.card-body {
  width: 314px;
  height: 240px;
}
.card-body a{
    margin-bottom: 5px;
}

#main-content article span p {
  background-color: #ccc;
  color: #000;
  font-style: italic;
  padding: 2px 5px;
}
#main-content article img {
  max-width: 500px;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact page */

/* contact form */
#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#contact-form .form-control:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0.1);
}
#contact-form .container-form {
  width: 60%;
  margin: 0 auto;
}
.btn-outline-dark:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
#contact-form .submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
/* contact form */

/* contact page */


/*footer*/

#CONTACTO a {
  margin: 0 10px;
}
#CONTACTO i {
  color: #000;
}

/********************
****SMALL DEVICES****
********************/

@media (min-width: 415px){

    .main-nav ul{
    margin-top: 5px;
    float:right;
    }
    .main-nav a{
    list-style: none;
    text-decoration: none;
    font: bold 20px comic-sans,arial,sans-serif;
    color: white;
    }

    .main-nav li a:hover{
        color: #b3b3b3ae;
    }
    .main-nav .nav-pills>li>a:hover{
        background: none;
    }
}

@media (max-width: 414px){

    #mobile-main-menu a{
    display: block;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #eee;
    color: white;
    text-align: center;
    font-weight: bold;
    }

    #mobile-main-menu li {
        width: 100%;
        margin: 0;
    }

    #mobile-main-menu a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #b3b3b3ff;
    }
    span img,
    .images img {
      width: 100%
    }
}

@media (max-width: 960px){
    .redes{
        margin-left: 5px;
    }
    .texto{
        text-align: center;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}
